body {
    background-color: #282828;
    /*background-image: url("../firefox.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: monospace;
    font-size: 4.0rem;
    font-family: 'Space Mono', monospace;
    color: #ebdbb2;
    margin-bottom: .25em;
    cursor: default;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #282828;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #3c3836;
    border: solid 0px #282828;
    font-family: 'Space Mono', monospace;
    font-size: 4rem;
    color: #ebdbb2;
    outline: none;
    border-radius: 10px;
    margin-bottom: 1em;
    text-align: center;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }

    #clock {
        margin-top: 1em;
    }

    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }

    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #3c3836;
    border-radius: 10px;
    font-family: Inter, sans-serif;
    font-size: .85rem;
    text-align: center;
    width: 15%;
    height: 11em;
    margin: 0em .5em;
}

.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
}

.bookmark-title {
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    color: #8ec07c;
    margin: 0em 0em .35em 0em;
}

.bookmark {
    text-decoration: none;
    text-align: center;
    color: #ebdbb2;
    display: block;
    margin: .4em 0em;
}

.bookmark:hover {
    color: #fbf1c7;
}
